* {
  font-family: "Montserrat", sans-serif;
  margin: 0%;
}

body{
  background-color: #1A1D24;

}

.bg-image1 {
  height: 120vh;
  width: 100%;
  background-image: url(./imgs/header-bg.jpg);
  background-color: pink;
  /* background-size: cover; */
  background-position: top;
  display: flexbox;
  border-radius: 0 0 100% 100% / 15% 15%; 
  overflow: hidden;
  z-index: 99989;
}

.logo-container {
  height: 10vh;
  width: 40%;
  display: flex;
  align-items: centre;
  justify-content: center;
}
.header-abouts {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 7%;
}
.navbar {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 22px;
  margin-right: 22px;
  color: white;
  text-decoration: none;
}
.menu:hover {
  color: red;
}
.body-content {
  height: 20vh;
  width: 38%;
  margin-left: 130px;
  margin-top: 150px;
}
.body-content h1 {
  color: white;
  font-size: 41px;
}
.body-content h2 {
  color: bisque;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}
.body-content span {
  color: #d9232e;
}
.body-download {
  background-color: #d9232e;
  height: 70px;
  width: 350px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  margin-top: 40px;
}
.body-download img {
  height: 25px;
  width: 25px;
  padding-right: 20px;
}
.body-content p {
  color: white;
  margin-top: 25px;
}
.allign-photo {
  display: flex;
}
.duhh {
  margin-top: 50px;
  margin-left: 100px;
  padding-left: 30px;
  height: 110vh;
  width: 37%;
}
.tanjiro{
  background-color: #1A1D24;
  height: 150vh;
  width: 100%;
}
.ds1 img{
  height: 60vh;
  width: 36.5%;
  background-size: contain;
}
.ds1{
  margin-top: 8%;
  margin-left: 8%;
  display: flex;
}
.what-is-anilab{
  margin-left: 60px;
  /* margin-top: 16px; */
  width: 50%;
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  justify-content: center ;
}
.what-is-anilab h1{
  color: white;
  font-size: 40px;
}
.what-is-anilab span{
  color: #D9232E;
}
.what-is-anilab p{
  color: #898E9A;
  font-size: 16px;

}
.why-Anilab h1{
  margin-left: 125px;
  font-size: 38px;
  margin-top: 128px;
  color: white;
}
.why-Anilab{margin-bottom: 62px;
}
.why-Anilab h1 span{
  color: #D9232E;
}
.box1{
  height: 300px;
  width: 380px;
  /* margin-left: 125px; */
}
.box1 img{
  height: 60px;
  width: 60px;
}
.p1{
  font-size: 19px;
  line-height: 25px;
  color: white;
}
.p2{
  font-size: 16px;
  line-height: 23px;
  color: #898E9A;
}
.reasons-anilab-l1{
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-evenly;
}
.reasons-anilab-l2{
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-evenly;
}
.devices
{
  background-color: #22252E;
  height: 90vh;
  width: 100%;
}
.install-anilab{
  width: 100% ;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items:end ;
}
.install-anilab p{
  font-size: 40px;
  color: white;
  font-weight: 500;
}
.android{
  height: 275px;
  width: 400px;
  background-color: #2D3039;
  border-radius: 30px;
margin-top: 40px;
}
.android:hover{
  background-color: #393B43;
}
.for-android{
  height: 5vh;
  width: 100%;
  display: flex; justify-content: center; align-items: start; 
  padding-top: 30px;
}
.download-for-android{
height: 50px;
width: 330px;
background-color: #D9232E;
display: flex;
color: white;
border-radius: 40px;
justify-content: center;
align-items: center;
margin-top: 95px;
margin-left: 26px;
margin-left: 35px;
}
.download-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 90px;
  margin-right: 90px;
}
.footer img{
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: centre;
  justify-content: center;
  padding-top: 60px;
}
  .footer{
    height: 50vh;
    width: 100%;
    background-color: #15181E;
  }
  .footer p{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
  .userhandles{
    height: 0px;
    width: 100%;
    /* background-color: darkblue; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .userhandles a{
    height: 1px;
    width: 50px;
    margin: 5px;
    font-size: 30px;
  }